@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}


.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body,
#root {
  min-height: 100%;
  background-color: #10002b;
}

body {
  margin: 0;
}